<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>Calculation Tools</title>
	    <link rel="stylesheet" href="../static/css/calculationTools.css" th:href="@{/css/calculationTools.css}" type="text/css"/>
	</head>
	<body>
		<div layout:fragment="content">
			<nav class="breadcrumb">
			  <!-- Esto no deberá apuntar a home, sino a la seccion donde este.. pero no se ahora mismo donde irá eso -->
			  <a class="breadcrumb-item" th:href="@{/home}">Home</a>
			  <span class="breadcrumb-item active">Calculation Tools</span>
			</nav>
			<div class="nameAndListSection">
				<h2>Calculation Tools</h2>
				<table>
					<!-- Se recuperan las calculationTools para la sección que estemos -->
					<tr th:each="calculationTool : ${calculationTools}">
						<td>
							<a th:text="${calculationTool.name}" href="#"></a>
						</td>
					</tr>
				</table>
			</div>
			<!-- Aqui el main content -->
			<div class="mainContentCalcTool">
				<!-- En el th_value este tendría que ir el nombre de la calculation tool actual -->
				<input type="text" name="calculationToolName" value="TestCross Dominance" th:value="Sustituir" />
				<!-- Aqui habría que meter un fragmento (hacer una carpeta con los fragmentos de las calculation tools) porque 
					 cada una se construye de una manera, necesita unos campos etc... -->
					 
				<button type="button" class="btn btn-success">Calculate</button>
				<button type="button" class="btn btn-danger">Clean</button>
				<button type="button" class="btn btn-primary">Save</button>
				
			</div>
		</div>
	</body>
</html>