<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet" href="../static/css/feedback.css" th:href="@{/css/feedback.css}" type="text/css"/>
<title>Feedback</title>
</head>
<body>
	<div layout:fragment="content">
		<nav class="breadcrumb">
			<a class="breadcrumb-item" th:href="@{/home}">Home</a> <span
				class="breadcrumb-item active">Feedback</span>
		</nav>
		<div class="container feedback">
			<h1>Feedback results</h1>
			<div th:each="feedback : ${feedback_list}">
				<p class="userFeedback" th:text="${feedback.user}"></p>
				<table id="RightTable" class="table col-6">
					<thead class="thead-dark">
						<tr>
							<th colspan="3">Right</th>
						</tr>
						<tr>
							<th>TestId</th>
							<th>QuestionId</th>
							<th>AnswerId</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-success" th:each="right : ${feedback.right}">
							<td th:text="${right.idTest}"></td>
							<td th:text="${right.idQ}"></td>
							<td th:text="${right.idA}"></td>
						</tr>
					</tbody>
				</table>
				<table id="WrongTable" class="table col-6">
					<thead class="thead-dark">
						<tr>
							<th colspan="3">Wrong</th>
						</tr>
						<tr>
							<th>TestId</th>
							<th>QuestionId</th>
							<th>AnswerId</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-danger" th:each="wrong : ${feedback.wrong}">
							<td th:text="${wrong.idTest}"></td>
							<td th:text="${wrong.idQ}"></td>
							<td th:text="${wrong.idA}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>