<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Set priority</title>
	    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	    	<link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}" type="text/css"/>
	    <style>
			#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
			#sortable li { margin: 0 5px 5px 5px; padding: 0.15em; padding-left: 1.5em; font-size: 1.4em; }
		</style>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			$( function() {
				$( "#sortable" ).sortable();
				$( "#sortable" ).disableSelection();
			} );
		</script>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="mainContentHome">
				<h2>Set priority</h2>
				<ul id="sortable">
					<li th:each="link : ${linkSectionProperties.links}" class="ui-state-default" th:text="${link.title}"></li>
				</ul>
			</div>
		</div>
	</body>
</html>
