<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>Problems: Genlab</title>
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.css" rel="stylesheet"/>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.js"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<nav class="breadcrumb">
			  <a class="breadcrumb-item" th:href="@{/home}">Home</a>
			  <span class="breadcrumb-item active">Problems</span>
			</nav>
			<div class="main-container">
				<div class="side-list">
					<h2>Problems list</h2>
					<table>
						<tr th:each="problem : ${problem_list}">
							<td th:text="${problem.nombre}"></td>
							<td class="left-cell"><a th:href="@{/problems/detail/}+${problem.id}" class="text-success fa fa-pencil"></a> </td>
						</tr>
						<tr>
							<td> <a href="/problems/new" class="btn" role="button"><span class="fa fa-plus-circle"></span> Add new Problem </a></td>		
						</tr>
					</table>
				</div>
				<div class="main-content-fragment">
					<form th:action="@{/problems/save/} + ${actual_problem.id}" method="post">
						<h3>Name</h3>
						<input class="editor-elements" type="text" name="problem-name" id="problem-name" th:value="${actual_problem.nombre}"/>
						<h3 class="editor-elements" type="text">Content</h3>
						<textarea class="editor-elements" type="text" rows="10" cols="60" id="summernote" name="problem-content" th:text="${actual_problem.contenido}"></textarea>    
						<hr></hr>
						<button type="submit" class="btn_save btn btn-block btn-lg btn-success editor-elements">Save</button>
					</form>
					<script>
				      $('#summernote').summernote({
				        placeholder: 'Insert the problem',
				        tabsize: 2,
				        height: 400
				      });
				    </script>
				</div>
			</div>
		</div>
	</body>
</html>