<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<title th:text="${test.name}"></title>
		<link rel="stylesheet" type="text/css" th:href="${prefixCSS + css}" th:each="css: ${pageExtraCSS}"/>
		<script>
			window.onload=function(){
				var pos=window.name || 0;
				window.scrollTo(0,pos);
			}
			window.onunload=function(){
				window.name=self.pageYOffset || (document.documentElement.scrollTop+document.body.scrollTop);
			}
		</script>
	</head>
	<body>
		<div layout:fragment="content">
			<nav class="breadcrumb">
				<a class="breadcrumb-item" th:href="@{/home}">Home</a>
				<a class="breadcrumb-item" th:href="@{/tests}">Tests</a>
				<span class="breadcrumb-item active" th:text="${test.name}">New Test</span>
			</nav>
			<div class="container">
				<div id="c_test">
					<form action="#" th:action="@{/tests/}+${test.id}+@{/save}" th:object="${test}" method="post">
						<div class="testTitle">
							<input th:field="*{name}" type="text" th:value="${test.name}"></input>
						</div>
						<hr></hr>
						<div class="row" th:each="question,iterationStatus: ${test.questions}">
							<div class="c_question">
								<input id="id" th:field="*{questions[__${iterationStatus.count-1}__].id}" th:value="${question.id}" type="hidden"/>
								<span class="q_num badge"><p th:text="${iterationStatus.count}"></p></span>
								<textarea th:field="*{questions[__${iterationStatus.count-1}__].statement}" th:text="${question.statement}"></textarea>
								<table class="table c_answers">
									<tbody>
										<tr class="bg-info" th:each="answer,status: ${question.answers}">
											<input id="id" th:field="*{questions[__${iterationStatus.count-1}__].answers[__${status.index}__].id}" th:value="${answer.id}" type="hidden"/>
											<td><textarea th:field="*{questions[__${iterationStatus.count-1}__].answers[__${status.index}__].answer}" th:text="${answer.answer}"></textarea></td>
											<td th:if="${answer.right}">
												<input th:field="*{questions[__${iterationStatus.count-1}__].answers[__${status.index}__].right}" type="checkbox" checked="checked"></input>
											</td>
											<td th:unless="${answer.right}">
												<input th:field="*{questions[__${iterationStatus.count-1}__].answers[__${status.index}__].right}" type="checkbox"></input>
											</td>
											<td> 
												<a th:href="@{/tests/}+${test.id}+@{/}+${question.id}+@{/}+${answer.id}+@{/delete}" class="btn btn-default"> <span class="text-danger fa fa-times"></span> </a> 
											</td>
										</tr>
										<tr>
											<td colspan="3"> <a th:href="@{/tests/}+${test.id}+@{/}+${question.id}+@{/newA}" class="btn btn-default"><span class="fa fa-plus-circle"></span> Add new answer </a></td>						
										</tr>
									</tbody>
								</table>
								<hr></hr>
							</div>
							<div class="c_del">
								<a th:href="@{/tests/}+${test.id}+@{/}+${question.id}+@{/delete}" class="btn btn-default"><span class="fa fa-trash"></span></a>
							</div>
						</div>
						<div class="row">
							<a th:href="@{/tests/}+${test.id}+@{/newQ}" class="btn btn-primary"><span class="fa fa-plus-circle"></span> Add new question</a>
						</div>
						<button class="btn_save btn btn-block btn-lg btn-success" type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>