<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title th:text="${theory.title}">Theory: Genlab</title>
	    <link rel="stylesheet" href="../static/css/theory.css" th:href="@{/css/theory.css}" type="text/css"/>
	    <script th:src="@{/ckeditor/ckeditor.js}" src="../static/ckeditor/ckeditor.js"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<nav class="breadcrumb">
			  <!-- Esto no deberá apuntar a home, sino a la seccion donde este.. pero no se ahora mismo donde irá eso -->
			  <a class="breadcrumb-item" th:href="@{/home}">Home</a>
			  <span class="breadcrumb-item active">Theory</span>
			</nav>
			<div class="container">
				<div><h1 th:text="${theory.title}">Título</h1></div>
				<hr></hr>
				<div th:utext="${theory.content}"></div>
			</div>
		</div>
	</body>
</html>