<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>Theory: Genlab</title>
		<script src="../static/ckeditor/ckeditor.js" th:src="@{/ckeditor/ckeditor.js}"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<nav class="breadcrumb">
			  <a class="breadcrumb-item" th:href="@{/home}">Home</a>
			  <span class="breadcrumb-item active">Theory</span>
			</nav>
			<div class="main-container">
				<div class="side-list">
					<h2>Theory list</h2>
					<table>
						<tr th:each="theory : ${theory_list}">
							<td th:text="${theory.titulo}"></td>
							<td class="left-cell"><a th:href="@{/theory/detail/}+${theory.id}" class="text-success fa fa-pencil"></a> </td>
						</tr>
						<tr>
							<td> <a href="/theory/new" class="btn" role="button"><span class="fa fa-plus-circle"></span> Add new Theory </a></td>		
						</tr>
					</table>
				</div>
				<div class="main-content-fragment">
					<form th:action="@{/theory/save/} + ${actual_theory.id}" method="post">
						<h3>Title</h3>
						<input class="editor-elements" type="text" name="theory-title" id="theory-title" th:value="${actual_theory.titulo}"/>
						<h3 class="editor-elements" type="text">Content</h3>
						<textarea class="editor-elements" type="text" rows="10" cols="60" id="editor" name="theory-content" th:text="${actual_theory.contenido}"></textarea>    
						<hr></hr>
						<button type="submit" class="btn_save btn btn-block btn-lg btn-success editor-elements">Save</button>
					</form>
					<script>CKEDITOR.replace('editor');</script>
				</div>
			</div>
		</div>
	</body>
</html>