<div th:fragment="00">
	<!-- En el th_value este tendría que ir el nombre de la calculation tool actual -->
	<input type="text" name="calculationToolName" value="TestCross Dominance" th:value="Sustituir" />
	<!-- Aqui habría que meter un fragmento (hacer una carpeta con los fragmentos de las calculation tools) porque 
		 cada una se construye de una manera, necesita unos campos etc... -->
</div>
<div th:fragment="01">
</div>
<div th:fragment="02">
</div>
<div th:fragment="03">
</div>
<div th:fragment="04">
</div>
<div th:fragment="05">
</div>
<div th:fragment="06">
</div>
<div th:fragment="07">
</div>

<div th:fragment="10">
</div>
<div th:fragment="11">
</div>
<div th:fragment="12">
</div>
<div th:fragment="13">
</div>
<div th:fragment="14">
</div>
<div th:fragment="15">
</div>

<div th:fragment="20">
</div>
<div th:fragment="21">
</div>
<div th:fragment="22">
</div>
<div th:fragment="23">
</div>
<div th:fragment="24">
</div>
<div th:fragment="25">
</div>
<div th:fragment="26">
</div>
<div th:fragment="27">
</div>

<div th:fragment="30">
</div>
<div th:fragment="31">
</div>
<div th:fragment="32">
</div>
<div th:fragment="33">
</div>
<div th:fragment="34">
</div>
<div th:fragment="35">
</div>
<div th:fragment="36">
</div>
<div th:fragment="37">
</div>
<div th:fragment="38">
</div>

<div th:fragment="40">
</div>
<div th:fragment="41">
</div>