<!-- TWO INDEPENDENT LOCI -->
<div th:fragment="00">
	<!-- En el th_value este tendría que ir el nombre de la calculation tool actual -->
	<input type="text" name="calculationToolName" value="TestCross Dominance" th:value="Sustituir" />
	<!-- Aqui habría que meter un fragmento (hacer una carpeta con los fragmentos de las calculation tools) porque 
		 cada una se construye de una manera, necesita unos campos etc... -->
</div>
<div th:fragment="01">
	<input type="text" name="calculationToolName" value="F2 Dominance" th:value="Sustituir" />
</div>
<div th:fragment="02">
	<input type="text" name="calculationToolName" value="F2 Dominance" th:value="Sustituir" />
</div>
<div th:fragment="03">
	<input type="text" name="calculationToolName" value="F2Codom(2)-Dom" th:value="Sustituir" />
</div>
<div th:fragment="04">
	<input type="text" name="calculationToolName" value="F2Codom(4)-Dom" th:value="Sustituir" />
</div>
<div th:fragment="05">
	<input type="text" name="calculationToolName" value="F2Codom(4)-Dom" th:value="Sustituir" />
</div>
<div th:fragment="06">
	<input type="text" name="calculationToolName" value="F2-Testcross2-Dom" th:value="Sustituir" />
</div>
<div th:fragment="07">
	<input type="text" name="calculationToolName" value="F2-Testcross4-Dom" th:value="Sustituir" />
</div>

<!-- ONE LOCUS -->
<div th:fragment="10">
	<input type="text" name="calculationToolName" value="Testcross" th:value="Sustituir" />
</div>
<div th:fragment="11">
	<input type="text" name="calculationToolName" value="F2 Dominance" th:value="Sustituir" />
</div>
<div th:fragment="12">
	<input type="text" name="calculationToolName" value="F2 Codominance" th:value="Sustituir" />
</div>
<div th:fragment="13">
	<input type="text" name="calculationToolName" value="Codominance 3 Alleles" th:value="Sustituir" />
</div>
<div th:fragment="14">
	<input type="text" name="calculationToolName" value="Codominance 4 Alleles" th:value="Sustituir" />
</div>
<div th:fragment="15">
	<input type="text" name="calculationToolName" value="Lethal Genes" th:value="Sustituir" />
</div>

<!-- LINKAGE -->
<div th:fragment="20">
	<input type="text" name="calculationToolName" value="Two loci / Testcross" th:value="Sustituir" />
</div>
<div th:fragment="21">
	<input type="text" name="calculationToolName" value="Two loci / F2 Dominance" th:value="Sustituir" />
</div>
<div th:fragment="22">
	<input type="text" name="calculationToolName" value="Two loci / F2 Codominance" th:value="Sustituir" />
</div>
<div th:fragment="23">
	<input type="text" name="calculationToolName" value="Three loci / Testcross" th:value="Sustituir" />
</div>
<div th:fragment="24">
	<input type="text" name="calculationToolName" value="Direct method / Testcross" th:value="Sustituir" />
</div>
<div th:fragment="25">
	<input type="text" name="calculationToolName" value="Direct method / F2 Dominance" th:value="Sustituir" />
</div>
<div th:fragment="26">
	<input type="text" name="calculationToolName" value="Direct method / F2 Codominance" th:value="Sustituir" />
</div>
<div th:fragment="27">
	<input type="text" name="calculationToolName" value="Direct method / Testcross 3 Loci" th:value="Sustituir" />
</div>

<!-- EPISTASIA -->
<div th:fragment="30">
	<input type="text" name="calculationToolName" value="Without modification" th:value="Sustituir" />
</div>
<div th:fragment="31">
	<input type="text" name="calculationToolName" value="Single recessive" th:value="Sustituir" />
</div>
<div th:fragment="32">
	<input type="text" name="calculationToolName" value="Single dominant" th:value="Sustituir" />
</div>
<div th:fragment="33">
	<input type="text" name="calculationToolName" value="Segregation 9:6:1" th:value="Sustituir" />
</div>
<div th:fragment="34">
	<input type="text" name="calculationToolName" value="Double Recessive" th:value="Sustituir" />
</div>
<div th:fragment="35">
	<input type="text" name="calculationToolName" value="Double Dominant" th:value="Sustituir" />
</div>
<div th:fragment="36">
	<input type="text" name="calculationToolName" value="Double Dominant-Recessive" th:value="Sustituir" />
</div>
<div th:fragment="37">
	<input type="text" name="calculationToolName" value="Segregation 6:3:3:4" th:value="Sustituir" />
</div>
<div th:fragment="38">
	<input type="text" name="calculationToolName" value="Segregation 10:3:3" th:value="Sustituir" />
</div>

<!-- POLYHYBRID -->
<div th:fragment="40">
	<input type="text" name="calculationToolName" value="Polyhybrid" th:value="Sustituir" />
</div>
<div th:fragment="41">
	<input type="text" name="calculationToolName" value="Multiple Alleles" th:value="Sustituir" />
</div>