.mainContentBooks{
	margin-top: 100px;
	margin-left: 20%;
}

.mainContentBooks input{
	width: 30%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

label{
	font-size: 1.5em;
}