.nameAndListSection{
	float:left;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumb{
	background-color:rgba(0, 0, 0, 0); /*a is for alpha, which makes it transparent*/
}